In [2]:
# syantax :lambda arguments : expression

#

In [4]:
#1
#A lambda function that multiplies argument a with argument b and print the result:
x = lambda a : a + 10
print(x(5))
# 2
#A lambda function that sums argument a, b, and c and print the result:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
13

In [10]:
#Example use with filter()
'''
The filter() function in Python takes in a function and a list as arguments.

The function is called with all the items in the list and a new list is returned which contains items for which the function evaluates to True.

Here is an exaple use of filter() function to filter out only even numbers from a list.
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)
Output

[4, 6, 8, 12]
'''

[{'menuId': '2', 'price': 20}]

In [28]:
#Lambda functions are used along with built-in functions like filter(), map() etc.
#Example use with filter()
#The filter() function in Python takes in a function and a list as arguments.
dd = [
    {
        "menuId":"1",
        "price":20
    },
     {
        "menuId":"2",
        "price":25
    }
]
new_list = list(filter(lambda x:x["menuId"]=="2",dd))
if new_list:
    print(new_list[0]["price"])
else:
     print("no price")

25

In [ ]:
#Example use with map()
"""
The map() function in Python takes in a function and a list.

The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

Here is an example use of map() function to double all the items in a list.

# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)
Output

[2, 10, 8, 12, 16, 22, 6, 24]
"""

In [22]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x /2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]
[0.5, 2.5, 2.0, 3.0, 4.0, 5.5, 1.5, 6.0]

In [ ]:
# text practice

In [3]:
# Exmple program to check job id in jobList
job_id = "5f72ccfd80e142d395fee6f6"
jobList  =  [
		{
			"jobId" : "5f72ccfd80e142d395fee6f6",
			"overrideWage" : ""
		},
    	{
			"jobId" : "5f61e22c8584d9149b9031a4",
			"overrideWage" : ""
		},
    	{
			"jobId" : "5f61e22c8584d9149b9031a5",
			"overrideWage" : ""
		}
	]
a = list(filter(lambda x:x["jobId"] == job_id,jobList))
print(a)

##---------
driver_jobs = ResJobs.objects(driver =True,restaurantId = restaurantId)
for driver in driver_jobs:
    emps = Resemployees.objects(restaurantId=restaurantId)  
    for emp in emps:
        jon_List = emp.jobList
        res = list(filter(lambda x:x["jobId"] == driver.id,jobList))
        if res : 
            """ get emp details """

[{'jobId': '5f72ccfd80e142d395fee6f6', 'overrideWage': ''}]

In [ ]:
# LAMBDA EXP TUTORIALS 
#source :https://www.youtube.com/playlist?list=PLH6mU1kedUy84TsNa1654qkHjIeZ_wllA

In [6]:
multiply = lambda  x,y:x+y
print(multiply(2,3))

power = lambda  x,y:x**y
power(2,3)

5

8

In [7]:
some_num = [1,2,3,4]
double = map(lambda x:x+x,some_num)
list(double)

[2, 4, 6, 8]

In [12]:
string = ["My","Python"]
cap = map(lambda x:str.upper(x),string)
print(list(cap))
string = ["my","python"]
cap1 = map(lambda x:x.capitalize(),string)
print(list(cap1))

['MY', 'PYTHON']
['My', 'Python']

In [14]:
attendance = [35,39,32,37,30,33]
print(sorted(attendance))
attendance = [35,39,32,37,30,33]
print(sorted(attendance,reverse =True))

[30, 32, 33, 35, 37, 39]
[39, 37, 35, 33, 32, 30]

In [20]:
# difference between sort & and sorted  
#sorted : sorted will not  effect to original list 
attendance = [35,39,32,37,30,33,55,44]
print(sorted(attendance))
print(attendance)
# sort : sort will effect to original list 
attendance2 = [35,39,32,37,30,33,55,44]
attendance2.sort()
print(attendance2)
attendance2.sort(reverse=True)
print(attendance2)

[30, 32, 33, 35, 37, 39, 44, 55]
[35, 39, 32, 37, 30, 33, 55, 44]
[30, 32, 33, 35, 37, 39, 44, 55]
[55, 44, 39, 37, 35, 33, 32, 30]

In [23]:
# sort with lambda 
attendance = [35,39,32,37,30,33,55,44]
attendance.sort(key = lambda x:x*2)
print(attendance)

[30, 32, 33, 35, 37, 39, 44, 55]

In [25]:
class_attr = [("9A",74),("9B",33),("9C",4),("9D",44),("9F",12)]
print(sorted(class_attr,key=lambda x:x[1]))
class_attr2 = [("9A",74),("9B",33),("9C",4),("9D",44),("9F",12)]
print(sorted(class_attr2,key=lambda x:x[1]))

[('9C', 4), ('9F', 12), ('9B', 33), ('9D', 44), ('9A', 74)]

In [37]:
class_attr2 = [{"name":"pooorna1","age":34},{"name":"pooorna2","age":22},{"name":"pooorna3","age":16},{"name":"pooorna4","age":11},{"name":"pooorna5","age":29}]
print(sorted(class_attr2,key=lambda x:x["age"]))
print("-------------------------------")
class_attr3 = [{"name":"pooorna1","age":34},{"name":"pooorna2","age":22},{"name":"pooorna3","age":16},{"name":"pooorna4","age":11},{"name":"pooorna5","age":29}]
print(sorted(class_attr3,key=lambda x:x["age"],reverse =True))

[{'name': 'pooorna4', 'age': 11}, {'name': 'pooorna3', 'age': 16}, {'name': 'pooorna2', 'age': 22}, {'name': 'pooorna5', 'age': 29}, {'name': 'pooorna1', 'age': 34}]
-------------------------------
[{'name': 'pooorna1', 'age': 34}, {'name': 'pooorna5', 'age': 29}, {'name': 'pooorna2', 'age': 22}, {'name': 'pooorna3', 'age': 16}, {'name': 'pooorna4', 'age': 11}]

In [41]:
# Filter and Lambda Function s
attendance = [35,39,32,37,30,33,55,44,22]
avg_attd = filter(lambda x:x>=35,attendance)
list(avg_attd)

[35, 39, 37, 55, 44]

In [46]:
countries = ["India","US","UK","FRANCE","GERMANY","UAE"]
list(filter(lambda x:len(x) > 5,countries))

['FRANCE', 'GERMANY']

In [62]:
#Reduce Function and lambda expression
from functools import reduce
nums = [10,20,30,40,50]

sum = reduce(lambda x,y:x+y,nums)
print(sum)

150

In [71]:
#Reduce Function and lambda expression
from functools import reduce
# nums = [10,20,30,40,50]
# s =reduce(lambda x,y:max(x,y),nums)
# print(s)

In [73]:
#Reduce Function and lambda expression
from functools import reduce
nums = [10,20,30,40,50]
# meaning give me x if x >y else give y
max_value =reduce(lambda x,y: x if x>y else y,nums)
print(max_value)
min_value =reduce(lambda x,y: x if x<y else y,nums)
print(min_value)

50
10

In [78]:
# Program to add marks if percentage is more than 35 and sub marks if below 35 attendance % ,["studentNo","percentage","marks"]
scores = [[1,35,80],[2,32,75],[3,30,82],[4,33,75],[15,37,60]]
above_avg = 35 
new_marks = map(lambda x : x[2] + 2 if x[1] >=  above_avg else x[2] - 2,scores)
print(list(new_marks))

[82, 73, 80, 73, 62]

In [81]:
# Countries and Sales
sales  = [ {"country":"India","sale" :150.5},{"country":"UK","sale" :155.5},{"country":"France","sale" :180.5},{"country":"US","sale" :200.5},{"country":"Chaina","sale" :177.5}]
country_names  =  map(lambda x :x["country"],sales )
print(list(country_names))
country_saless  =  map(lambda x :x["sale"],sales )
print(list(country_saless))

['India', 'UK', 'France', 'US', 'Chaina']
[150.5, 155.5, 180.5, 150.5, 150.5]

In [ ]:
# Using Filter on dicts along with lambdab

In [83]:
ind =  filter(lambda x:x["country"] ==  "India",sales)
print(list(ind))

[{'country': 'India', 'sale': 150.5}]

In [91]:
high_sales = filter(lambda x:x["sale"] >= 140,sales)
print(list(high_sales))

[{'country': 'India', 'sale': 150.5}, {'country': 'UK', 'sale': 155.5}, {'country': 'France', 'sale': 180.5}, {'country': 'US', 'sale': 150.5}, {'country': 'Chaina', 'sale': 150.5}]

In [ ]:
# Proccessing Multiple List to lambda expressions

In [92]:
list1 = [10,20,30,40,50]
list2 = [10,20,30,40,50]
list_additions = map(lambda x,y:x+y,list1,list2)
print(list(list_additions))

[20, 40, 60, 80, 100]